body {
    background: #f9fafb;
    font-family: system-ui, 'Public Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3 {
    color: #343d47;
}

.nav {
    margin-top: 15px;
}

.nav-link {
    border-radius: 10px;
    color: #74808c!important;
}

.nav-link .fa-solid {
    color: #74808c!important;
}

.nav-link.active .fa-solid {
    color: #4da6d9!important;
}

.nav-link.active {
    background-color: #e8eefa!important;
    color: #4da6d9!important;
}

.bg-light {
    background-color: inherit!important;
}

.card {
    border-radius: 25px;
    border-color: #edeff2;
}

.js-plotly-plot .plotly .main-svg {
    border-radius: 35px;
}

.company {
    margin-left: 15px;
}

.fa-solid {
    color: #4c7a9c;
}

.bubble-chart-div {
    background-color: #ffff;
    border-radius: 25px;
}

.modebar {
    top: 10px!important;
    right: 25px!important;
}

.timeline-div {
    background-color: #ffff;
    height: 100%;
    border-radius: 25px;
    padding-top: 20px;
}
.form-select {
    line-height: 1.45;
    border-radius: 10px;
}
.form-label {
    margin-bottom: 0;
}
.form-control {
    border-radius: 10px;
}

.modal-content {
    border-radius: 25px;
}

.modal-body {
    margin: 0 10px;
}
.Select-control {
    border-radius: 10px!important;
    border: 1px solid #ededed;
}

.Select-value {
    border: 1px solid #ededed;
}
.SingleDatePickerInput {
    width: 100%;
    border: 0;
}
.SingleDatePicker, #start-date, #end-date {
    width: 100%;
}


.DateInput, .DateInput_1 {
    width: 100%;
}

.DateInput_input, .DateInput_input_1 {
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 0.9375rem;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ededed;
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.filterDiv {
    background-color: #fff;
    padding: 25px 0 0 10px;
    border-radius: 25px 25px 0 0;
    box-shadow: rgba(145, 158, 171, 0.08) 0 0 2px 0, rgba(145, 158, 171, 0.08) 0 12px
}

/* primary button */
.btn-primary {
    background-color: #343d47;
    border-color: #343d47;
    border-radius: 10px;

}

#horizontal-bar-chart {
    height: 100%;
    width: 100%;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .open>.dropdown-toggle.btn-primary {
    background-color: #000;
    border-color: #000;
    box-shadow: none;
}

.btn-primary .fa-solid {
    color: #fff;
}

#button-add {
    background-color: #4CCD99;
    border-color: #4CCD99;
}

#add-order-error {
    color: #FF004D;
    margin: 0;
}
.alert-success{
    border-radius: 15px;
}
